@model List<Employee>

<table>
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Ünvan</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Title</td>
                <td>
                    <a asp-action="Orders" asp-route-employeeId="@employee.EmployeeId">Siparişler</a> |
                    <a asp-action="Profile" asp-route-employeeId="@employee.EmployeeId">Profilim</a>
                </td>
            </tr>
        }
    </tbody>
</table>