@model List<Employee>

<table>
    <h3>Çalışanlar</h3>
        <tr>
            <th>Ad</th>
	    	<th>|</th>
            <th>Soyad</th>
            <th>|</th>
            <th>Ünvan</th>
            <th></th>
        </tr>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
			    <td>|</td>
                <td>@employee.LastName</td>
			    <td>|</td>
                <td>@employee.Title</td>
                <td>
                    <a asp-action="Orders" asp-route-employeeId="@employee.EmployeeId">Siparişler</a> |
                    <a asp-action="Profile" asp-route-employeeId="@employee.EmployeeId">Profilim</a>
                </td>
            </tr>
        }
</table>