@model Employee

<h3>Profilim</h3>

<form asp-controller="Home" asp-action="UpdateProfile" method="post">
	    <input type="hidden" asp-for="EmployeeId" />
        <b>Ad:</b>
    <span asp-for="FirstName">@Model.FirstName</span>
        <br />
        <b>Soyad:</b>
    <span asp-for="FirstName">@Model.LastName</span>
        <br />
        <b>Pozisyon:</b>
    <span>@Model.Title</span>
        <br />
        <b>Doğum Tarihi:</b>
    <span>@Model.BirthDate</span>
        <br />
        <b>Telefon no:</b>
    <input type="text" asp-for="HomePhone" value="@Model.HomePhone" id="tb4" class="borderless-input" readonly />
        <br />
        <b>Adres:</b>
    <input type="text" asp-for="Address" value="@Model.Address" id="tb5" class="borderless-input" readonly />
        <br />
        <br />
        <button type="button" class="btn btn-primary" id="edit">Düzenle</button>
        <button type="button" class="btn btn-secondary" hidden id="finishedit">Düzenlemeyi bitir</button>

        <button type="submit" class="btn btn-warning">Güncelle</button>
    </form>    
    @*}*@
